.time {
    text-align: center;
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
    max-height: 280px;
    height: 100%;
    padding: 34px 0;
    margin-bottom: 64px;
    font-family: 'Acrom';
    font-weight: 900;
    font-style: normal;
    box-shadow: 0 0 40px #d3d3d3;
}

.info {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.block__name {
    text-align: right;
    align-content: center;
    
} 
    .block__name--style {
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 24px;
    letter-spacing: -0.025em;
    line-height: 16px;
    
    background: black;
    color: #fff;
    }


.block__date {
    text-align: left;
    padding-left: 6px;
    font-size: 13px;
    line-height: 16px;


        &--style-1 {
        margin-bottom: 40px;
        font-weight: 900;
    }

    &--style-2 {
        margin: 0;
        margin-bottom: 22px;
    }

    &--style-3,
    &--style-4 {
        margin: 0;
        position: relative;
    }

    &--style-3::before {
        content: "";
        display: block;
        width: 60px;
        height: 4px;     
        position: absolute;
        background: black;
        transform: rotate(-15deg);
        background: #ef742f;
    }
    }
.bonus {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #ef742f;
}

.bonus::before {
    content: "";
    display: block;
    width: 3px;
    height: 34px; 
    position: absolute;
    left: -10px;
    top: 4px;
    background: black;
    transform: rotate(30deg);
}

@media (min-width:768px) {
   
    .time {
        max-width: 416px;
        width: 100%;
        min-height: 238px;
        height: 100%;
        
    }
 
    .info {
     transform: translateX(-40px);
     }

     .bonus {
        transform: translateX(90px);

     }
}