.program {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;


  @media (min-width: 848px) {
    align-items: flex-start;

    &::before {
      content: '';
      display: block;
      background: url(../images/progpamm.png);
      background-repeat: no-repeat;
      width: 132px;
      height: 924px;
      position: absolute;
      top: -166px;
      left: 718px;
      opacity: 0.05;
    }
  }

  &__headline {
    width: 320px;
    text-align: center;
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2em;
    margin: 0 0 20px 0;
    background-color: #000000;
    color: #fff;

    @media (min-width: 848px) {
      margin: 0 0 58px 0;
      width: 574px;
      font-family: 'Acrom', Arial, sans-serif;
      font-weight: 800;
      font-size: 58px;
      line-height: 68px;
    }

  }

  &__block--list {
    min-width: 280px;
    margin: 0 0 0 18px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;

    @media (min-width: 626px) {
      margin: 0;
      justify-content: space-around;
    }


    @media (min-width: 848px) {

      width: 848px;
      justify-content: flex-start;
    }
  }

  &__block--text-box {
    width: 200px;
    padding: 0 16px 0 72px;
    margin-bottom: 20px;
    list-style: none;
    position: relative;

    @media (min-width: 848px) {

      &:nth-child(3n) {
        padding-right: 0;
      }
    }
  }

  &__list--cub::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #f1682a;
    top: 40px;
    left: 40px;
  }

  &__list--number::before {
    position: absolute;
    width: 65px;
    clip: rect(auto, auto, auto, 15px);
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 800;
    font-size: 38px;

    left: -15px;
    top: -8px;
  }

  &__list--number-1::before {
    content: '01.';
  }

  &__list--number-2::before {
    content: '02.';
  }


  &__list--number-3::before {
    content: '03.';
  }

  &__list--number-4::before {
    content: '04.';
  }

  &__list--number-5::before {
    content: '05.';
  }

  &__list--number-6::before {
    content: '06.';
  }

  &__list--number-7::before {
    content: '07.';
  }

  &__list--number-8::before {
    content: '08.';
  }

  &__block--headline {
    margin: 0 0 16px 0;
    text-transform: uppercase;
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
  }

  &__block--headline-black {
    width: 52px;
    display: block;
    background-color: #000000;
    color: #fff;
  }

  &__block--text {
    margin: 0;
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: normal;
    font-size: 10.42px;
    line-height: 14px;
  }
}
