.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 104px;


    &__block {
        display: flex;
        max-width: 212px;
        width: 100%;
        min-height: 80px;
        height: 100%;
        border-left: 4px solid #f26228;
        margin: 0 0 48px;
        box-shadow: 0 0 30px #d3d3d3;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }


    &__block:last-child {
        margin: 0;
    }
}


@media (min-width:768px) {

    .steps {
        justify-content: space-between;
    }

    .steps__block:last-child {
        transform: translateX(316px);
    }
}